body {
    background-color: navy;
}

.img10 {
    background-image: url(../images/clip_10.jpg?__sprite);
}

.img11 {
    background-image: url(../images/clip_11.jpg?__sprite);
}

.img12 {
    background-image: url(../images/clip_12.jpg?__sprite);
}

.img13 {
    background-image: url(../images/clip_13.jpg?__sprite);
}

.img14 {
    background-image: url(../images/clip_14.jpg?__sprite);
}

.img15 {
    background-image: url(../images/clip_15.jpg?__sprite);
}

.img16 {
    background-image: url(../images/clip_16.jpg?__sprite);
}

.img17 {
    background-image: url(../images/clip_17.jpg?__sprite);
}

.img18 {
    background-image: url(../images/clip_18.jpg?__sprite);
}

.img19 {
    background-image: url(../images/clip_19.jpg?__sprite);
}
